[submodule "vim/bundle/Vundle"]
	path = vim/bundle/Vundle
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "zsh/kubectl-aliases"]
	path = zsh/kubectl-aliases
	url = https://github.com/ahmetb/kubectl-aliases.git
[submodule "zsh/kube-ps1"]
	path = zsh/kube-ps1
	url = https://github.com/jonmosco/kube-ps1.git
[submodule "dependencies/lsix"]
	path = dependencies/lsix
	url = https://github.com/hackerb9/lsix.git
