[submodule "vim/bundle/Vundle"]
	path = vim/bundle/Vundle
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
